[user]
	email = m_kato@ga2.so-net.ne.jp
	name = Makoto Kato
[color]
	ui = auto
[core]
	editor = vim
[http]
	postBuffer = 10M
[cinnabar]
	helper = /home/makoto/.mozbuild/git-cinnabar/git-cinnabar-helper
	version-check = 1747206701
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[pull]
	ff = only
[mergetool]
	prompt = false
[merge]
	conflictstyle = diff3
	tool = vimdiff
[diff]
	context = 8
